customer-api/src/main/mule/common/common-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	
	<flow name="store-error-flag-impl-flow"
		doc:id="b4cd0689-1ad3-4277-be9c-f0d70871c5d6">
		<os:store doc:name="Store Error Flag Key"
			doc:id="50363e09-1984-42c6-96ed-61dd03634bfe"
			key="#[p('obj.customer.key')]" objectStore="Object_store">
			<os:value><![CDATA[#["ERROR"]]]></os:value>
		</os:store>
		<error-handler>
			<on-error-continue enableNotifications="true"
				logException="true" doc:name="On Error Continue"
				doc:id="434ee5b4-b988-49b5-b730-dd8b871bd0a4" type="ANY">
				<logger level="INFO" doc:name="Error Log"
					doc:id="99d5159f-862c-49c8-9547-66cb01f61052"
					message='#["ERROR: Store Error Flag"]'
					category="com.create.customer.os.error" />
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="check-error-flag-impl-sub-flow"
		doc:id="eb014435-2398-43c6-be5d-d2aa14321d14">
		<logger level="INFO" doc:name="Implementation Entry Log"
			doc:id="7524c982-5907-4e45-b341-0f2f7b6e053f"
			message='#["Implementation Entry: Check Error Flag"]'
			category="com.os.info" />
		<os:contains doc:name="Check Error Flag Key"
			doc:id="6b4f255c-8c88-4ad8-af03-c2dab185b032"
			key="#[p('obj.customer.key')]" />
		<choice doc:name="Choice"
			doc:id="51b0cb9e-e836-4d35-ad9a-e73b96a4300a">
			<when expression="#[payload == true]">
				<flow-ref doc:name="health-check-impl-flow"
					doc:id="6c0d5486-1761-41fb-b46c-b0c0240a51da"
					name="health-check-impl-flow" />
				<os:remove doc:name="Remove Error Flag Key"
					doc:id="1c17f9bf-09fd-4b08-aa7b-a91f1867f469"
					key="#[p('obj.customer.key')]" />
			</when>
		</choice>
		<logger level="INFO" doc:name="Implementation Exit Log"
			doc:id="095f0568-fd34-461e-b14e-d4e7bafa3a6c"
			message='#["Implementation Exit: Check Error Flag"]'
			category="com.os.info" />
	</sub-flow>
	<flow name="health-check-impl-flow"
		doc:id="a32442cc-41d4-4c69-8e4c-5ad1d4cf62d7">
		<ee:transform
			doc:name="HTTP SF Health Check Mock Response"
			doc:id="4e06dc83-b699-40d2-98e5-01cb430179b8">
			<ee:message>
				<ee:set-payload
					resource="dw/checkSfHealthMockResponse.dwl" />
			</ee:message>
		</ee:transform>
		<ee:transform
			doc:name="HTTP COSMOS Health Check Mock Response"
			doc:id="5f979e85-2f6b-4fab-9411-eeaa71613056">
			<ee:message>
				<ee:set-payload
					resource="dw/checkCosmosHealthMockResponse.dwl" />
			</ee:message>
		</ee:transform>

		<error-handler>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="eb28d891-6987-44a3-b6e6-f0582c496fc3"
				type="HTTP:CONNECTIVITY,HTTP:SERVICE_UNAVAILABLE">
				<logger level="INFO" doc:name="System Down Error Log"
					doc:id="96685022-3c45-4979-acb7-c4c6f64989fb"
					message='#["Error: SF or COSMOS is not available for customer creation"]'
					category="com.check.status.error" />
				<async doc:name="Async"
					doc:id="6e871970-0792-498a-bc35-9f932c0ede89">
					<flow-ref doc:name="store-error-flag-impl-flow"
						doc:id="a38674c8-2c08-4c51-9639-9d36b4d719fc"
						name="store-error-flag-impl-flow" />
					<set-variable
						value='#["Salesforce or COSMOS is not Available. Please try after some time"]'
						doc:name="Set errorMessage"
						doc:id="97231ff1-19ba-4385-9861-84a24d6b2225"
						variableName="errorMessage" />
				</async>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
